.parallax-container {
    img {
        filter: brightness(25%);
    }
}

.admin-login-btn {
    width: 50%;
}

#login_loader {
    display: none;
    height: 300px;
    margin-top: -40px;
    // padding-top: 125px;
}